* {
 box-sizing: border-box;
}

body {
  margin: 40px 5% 40px 5%;
}

.wrapper {
    height: 80vh;
    display: grid;
    grid-gap: 10px;
        grid-template-columns: 33% 33% 33%;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        display: grid;
    }
    .box .header {
      height: 4vh;
      border-bottom: 1px #fff;
      border-bottom-style: dotted;
    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1 ;
        grid-row: 2 / 3 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2 / 3;
    }
